<h1>Portfolio Items</h1>
<hr>
<% @portfolio_items.each do |item| %>
    <h1><%= item.title %></h1>
    <h3><%= item.subtitle %></h3>
    <p><%= item.body %></p>
    <%= image_tag item.thumb_image %>
<% end %>