<footer class="blog-footer">
<div class="mb-2">
    <%= link_to fa_icon("github-alt 4x"), 'http://github.com/webdevbrent' %>
    <%= link_to fa_icon("linkedin 4x"), 'https://www.linkedin.com/in/brent-phillips-b267707b/' %>
</div>
    <%= copyright_generator %>
</footer>