<main role="main">
    <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">My Projects</h1>
        <p class="lead text-muted">Here are some past projects that I have worked on. Some for cash and some just for fun.</p>
        <p>
            <%= link_to 'Find out more about me', about_me_path, class: 'btn btn-primary my-2' %>
            <%= link_to 'My Blog', blog_index_path, class: 'btn btn-secondary my-2' %>
        </p>
    </div>
    </section>
</main>