<h1 class="cover-heading">Brent Phillips - Software Developer</h1>
        <p class="lead">
          Web Developer with a passion for web application development. Skilled in conceptualizing, designing, development, and deploying software containing logical solutions to business problems. Dedicated to driving innovation with the ability to follow industry and technical trends, and facilitating early adoptions of innovations.
        </p>
        <p class="lead">
        <%= link_to 'About Me', about_me_path, class: 'btn btn-lg btn-secondary' %>
        </p>
